:root{
    --icon-primare:black;
    --icon-second:rgba(0, 0, 0, 0.475);
    --borde:rgba(0, 0, 0, 0.162);
    --background-dark-ligth: #00000012;
}

#teste:hover {
        text-decoration: none !important;
}

*{
    margin: 0;
    padding: 0;
}

/* cabeçalho */
#header{
    border-radius: 1px solid var(--borde);
    padding: 10px 5px 0px 3%;
    position: fixed;
    height: 45px;
    width: 100%;
    display: flex;
    top: 0;
    background-color: white;
}

#header .start{
    display: flex;
    align-items: center;
    flex: 2;
}

#header .center{
    display: flex;
    align-items: center;
    flex: 7;
    justify-content: center;
    /* margin-right: 5%; */
}

#header .end{
    flex: 2;
    display: flex;
    position: relative;
    right: 5%;
    align-items: center;
    justify-content: space-around;
}

.end > div {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 3px;
    border-radius: 30px;
}


#header .end > *:nth-child(3) > img{
    padding: 0;
    margin: 0;
    border-radius: 30px;

}

#header .end > *:nth-child(3) > img:hover{
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}



.search-text{
    border: 0.4px solid var(--borde);
    border-radius: 15px 0 0 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 80%;
    box-sizing: border-box;
}

.center .search-text-submit{
    border-color: var(--borde);
    background-color: white;
    border-radius: 0 40px 40px 0;
    width: 8%;
    height: 80%;
    padding: 3px 5px 0 0;
    margin-left: 1%;
    color: var(--icon-second);
    min-width: 35px;
    max-width: 60px;
}

#header .search-text input[type=text]{
    outline: 0;
    border: 0;
    background-color: none;
    width: 25vw;
    max-width: 500px;
}

#icon-keyboard{
    opacity: 0.4;
}

#content-icon-keyboard:hover #icon-keyboard{
    opacity: 0.9;
}


#header .search-text .x{
    border: 1px solid var(--icon-second);
    width: 20px; 
    position: absolute;
}

#header .content-input-clear:hover .x{
    border-color: red;
    background-color: red;
}

#header .search-text #a.x{
    rotate: 45deg;

}
#header .search-text #b.x{
    rotate: 135deg;
}

.content-search-voice{
    margin-left: 10px;
    height: 80%;
    width: 8%;
}

.search-voice{
    border-radius: 20px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding: 4px 2px 2px 5px; 
}

#header .logo{
    width: 90px;
    height: 20px;
    margin: 0 13%;
}

#icon-keyboard{
    width: 19px;
    height: 11px;
    display: inline-block;
    background-image: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==);
}

/* side bar */
#side-bar{
    border-radius: 1px solid var(--borde);
    width: 70px;
    display: flexbox;
    position: relative;
    height: 100vh;
}
.side-icon{
    width: 20px;
    height: 20px;
    position: relative;
    padding: 6px 4px 3px 4px;
    border-radius: 40px;
    flex-shrink: 0;
}


.side-icon-item{
    background-color: rgb(0 0 0);
    width: 100%;
    position: relative;
    height: 1.5px;
}

.side-icon-item:nth-child(1){
    top: 0;

}
.side-icon-item:nth-child(2){
    top: 20%;
}
.side-icon-item:nth-child(3){
    top: 40%;
}


/* main */
#main{
    border-radius: 1px solid black;
    display: flexbox;
}

.hover-icon-second:hover {
    background-color: var(--background-dark-ligth);
    position: relative;
    
    /* box-sizing: border-box; */
}


@media only screen and (max-width: 750px){
    #header .end{
        flex: 2;
    }
}

@media only screen and (max-width: 750px){
    #header .end{
        flex: 2;
    }
}

@media only screen and (max-width: 600px){
    .search-text{
        display: none;
    }

    .center .search-text-submit{
        border-radius: 40px;
    }

    #header .center{
        justify-content: start;
    }

    /* .side-icon {
        width: 20px;
        height: 10px;
    } */
}